/* Estilo general */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #9dc6f4;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1400px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
}

.description {
  flex: 1;
  margin-right: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 10px;
}

.description h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

.description p {
  font-size: 18px;
  color: #666;
  line-height: 1.5;
}

button {
  background-color: #4b96ed;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

button:hover {
  background-color: #0056b3;
}

a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.games {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.game:hover {
  transform: translateY(-5px);
}

.game img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.game h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.game a {
  color: white;
  text-decoration: none;
}

.game button {
  background-color: #dae791;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game button:hover {
  background-color: #c5d362;
}



@media screen and (max-width: 1200px) {
  .content {
    padding: 15px;
    justify-content: center;
  }

  .games {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }

  .description {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .games {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .description {
    padding: 20px;
  }

  .game {
    padding: 15px;
  }
}